<div class="row">
	<div class="large-8 columns">
		<div class="orange-circle">
			<div>
				<h3>Get Things Done Quickly</h3>
	<p>With this to do list, you can finally keep tracking of the things you've finished and the things that you have to do. Best of all, it's online, so you can access it anywhere where there's internet.</p>
			</div>
		</div>
	</div>
	<div class="large-4 columns">
		<div class="gray-circle">
			<div>
				<h5 color="#888">Gems used:</h5>
				<p>rails</p>
				<p>foundation-rails</p>
				
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-7 large-offset-5 columns">
		<div class="purple-circle float-right">
			<div>
				<h3>1. Create a task</h3>
				<p>
					Create a new task using the new task button, fill in all the details and the item will be added to the list of Pending Tasks
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-9 columns">
		<div class="blue-circle">
			<div>
				<h3>2. Get Things Done</h3>
				<p>
					Get moving and start working, once you're done with a task, tick on the checkbox corresponing to the task, then click <a href="" class="button success radius">Mark As Complete</a>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-8 large-offset-4 columns">
		<div class="orange-circle float-right">
			<div>
				<h3>3. Filter Things Out</h3>
				<p>
					This App helps you filter what tasks are due today, what tasks have already been completed and what tasks you need to finish by today. Just click a filter to sort them. There's even a search box to help you find a specific task.
				</p>
			</div>
		</div>
	</div>
</div>